@import url('common.css');
/* Do NOT write anything before @import, or strange things will happen */

input {
  margin: 0 10px 0 0;
}

tr.tableheader {
  font-size: 70%;
}

tr.tablesubheader {
  font-size: 60%;
  font-weight: normal;
  text-align: center;
}

tr.usage_row {
  text-align: center;
}

p.help {
  font-size: 70%;
  font-weight: normal;
  color: #010188;
  margin-top: 22px;
  margin-bottom: 18px;
  margin-left: 15px;
}

.fileload {
  font-size: 70%;
  font-weight: normal;  
}

.authcode {
  font-size: 9pt;
}

.role {
  font-size: 12pt;
}
/* end */
